[Unit]
Description=FTP Mount Service
After=network-online.target wg-quick@wg0.service

[Service]
Type=simple
ExecStart=/bin/bash /opt/ftp-mount.sh
WorkingDirectory=/opt/
User=root
Group=root
Restart=always
RestartSec=1d

[Install]
WantedBy=default.target
